:root {
  --base-color: #ccc;
  --hover-color: #353535;
  --active-color: #cf0e0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: grid;
  grid-template-areas: 'slides slides' 'phrases dots';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
  max-width: 80%;
  text-align: center;
  border: 0.0625rem solid var(--base-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.slider__input {
  display: none;
}

.slides {
  grid-area: slides;
  overflow: hidden;
}

.inner {
  display: flex;
  width: 600%;
  height: 100%;
  transition: margin-left 0.5s ease-in-out;
}

.slide {
  width: 100%;
}

.slide__image {
  width: 100%;
}

.slides-text {
  grid-area: phrases;
  margin: 0 0.973rem;
  overflow: hidden;
}

.slide-text {
  display: flex;
  align-items: center;
  width: 25%;
}

.slide-text:has(p) {
  flex-direction: column;
  align-items: start;
}

.dots {
  grid-area: dots;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots__dot {
  --size: 0.973rem;

  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background: var(--base-color);
  margin: 0 0.3rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  user-select: none;
}

.dots__dot:hover {
  background: var(--hover-color);
}

.dots__dot:active {
  background-color: var(--active-color);
}

.insertion {
  --size: 1.5rem;

  display: inline-block;
  transform: translate(-25%, -25%);
  width: var(--size);
  height: var(--size);
  background: transparent;
  user-select: none;
}

#slide1:checked ~ .slides .inner,
#slide1:checked ~ .slides-text .inner {
  margin-left: 0;
}

#slide2:checked ~ .slides .inner,
#slide2:checked ~ .slides-text .inner {
  margin-left: -100%;
}
#slide3:checked ~ .slides .inner,
#slide3:checked ~ .slides-text .inner {
  margin-left: -200%;
}
#slide4:checked ~ .slides .inner,
#slide4:checked ~ .slides-text .inner {
  margin-left: -300%;
}
#slide5:checked ~ .slides .inner,
#slide5:checked ~ .slides-text .inner {
  margin-left: -400%;
}
#slide6:checked ~ .slides .inner,
#slide6:checked ~ .slides-text .inner {
  margin-left: -500%;
}

#slide1:checked ~ .dots .dots__dot:nth-child(1),
#slide2:checked ~ .dots .dots__dot:nth-child(2),
#slide3:checked ~ .dots .dots__dot:nth-child(3),
#slide4:checked ~ .dots .dots__dot:nth-child(4),
#slide5:checked ~ .dots .dots__dot:nth-child(5),
#slide6:checked ~ .dots .dots__dot:nth-child(6) {
  background: transparent;

  border: 0.125rem solid var(--base-color);
}

#slide1:checked ~ .dots .dots__dot:nth-child(1):hover,
#slide2:checked ~ .dots .dots__dot:nth-child(2):hover,
#slide3:checked ~ .dots .dots__dot:nth-child(3):hover,
#slide4:checked ~ .dots .dots__dot:nth-child(4):hover,
#slide5:checked ~ .dots .dots__dot:nth-child(5):hover,
#slide6:checked ~ .dots .dots__dot:nth-child(6):hover {
  border: 0.125rem solid var(--hover-color);
}

#slide1:checked ~ .dots .dots__dot:nth-child(1):active,
#slide2:checked ~ .dots .dots__dot:nth-child(2):active,
#slide3:checked ~ .dots .dots__dot:nth-child(3):active,
#slide4:checked ~ .dots .dots__dot:nth-child(4):active,
#slide5:checked ~ .dots .dots__dot:nth-child(5):active,
#slide6:checked ~ .dots .dots__dot:nth-child(6):active {
  border: 0.125rem solid var(--active-color);
}

@media only screen and (max-width: 768px) {
  .slider {
    grid-template-areas: 'slides' 'dots' 'phrases';
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.5fr 1fr;
  }

  .dots {
    order: 2;
  }
}

